# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

*.sqlite3
instance/
ICCwebapp/

# Virtual environment folders
venv/
env/

# OS-specific files
.DS_Store
*.db

# Git files
.git
.gitignore

# Logs and temporary files
*.log
*.tmp
*.swp

# IDE project settings
.vscode/
.idea/

# Local development files
.env
